<div class="head-container">
  <h1>ECDL Scripter</h1>
  <h3>User: <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></h3>
  <h3>Reviewer: <%= link_to "Sign In", new_reviewer_session_path %> or <%= link_to "Sign Up", new_reviewer_registration_path %></h3>
</div>
