<div class="question-display">
  <div class="panel panel-primary">
    <div class="panel-heading">Questions for Review</div>
    <div class="list-group">
      <% Review.being_reviewed.find_each do |review| %>
        <%= link_to review.question.stem, edit_review_path(review), :class => "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>
