<p>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</p>


<p>
  we will put a list of task items that need questions here
  <p>
    for now we will just leave this link to make a new question -&gt; <%= link_to 'New Question', new_question_path %>
  </p>
</p>

<p>
  here we will put a list of questions that the user submitted for review that have been reviewed
</p>


