<div class="actions">
  <%= button_to "New Question", new_question_path, method: :get, :class => 'btn btn-success btn-lg' %>
</div>

<p>
</p>
<div class="question-display">
  <div class="panel panel-primary">
    <div class="panel-heading">Questions for Rescripting</div>
    <div class="list-group">
      <% Review.where(user: current_user).being_scripted.find_each do |review| %>
        <div class="list-group-item">
          <%= link_to review.question.stem, edit_question_path(review.question) %>
          Reason: <%= review.comment %>
      </div>
      <% end %>
    </div>
  </div>
</div>
