/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-select
 */

.cent-pan{
  padding-top: 50px;
  padding-right: 150px;
  padding-left: 150px;
}

.alert{
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80vw;
}

.question-display {
  width: 80vw;
  margin-left: 10vw;
}

.stem-image-container {
  padding-bottom: 20px;
}

.panel-top-pad {
  height: 20px;
}

.review-field-container {
  width: 80vw;
  padding-left: 10vw;
}

.question-meta {
  padding: 20px;
}

.question-meta input[type=number] {
  width: 100px;
}

.well {
  margin-left: 10vw;
  width: 80vw;
}

.actions {
  text-align: center;
  padding: 20px;
}

.input-spacer{
  width: 40px;
}
