<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @syllabus_item.name %>
</p>

<%= link_to 'Edit', edit_syllabus_item_path(@syllabus_item) %> |
<%= link_to 'Back', syllabus_items_path %>
